/*//////////////////////////////////
////			a				////
//////////////////////////////////*/
a:link,a:visited
{
	display:block;
	font-weight:bold;
	color:#FFFFFF; /*Blanc*/
	/*width:120px;*/
	text-align:center;
	padding:2px;
	text-decoration:none;
}

#index a:link,#index a:visited,
#backoffice a.menu:link,#backoffice a.menu:visited,
#deconnexion a:link,#deconnexion a:visited,
#PagesFrame a:link,#PagesFrame a:visited
{
	background-color:#245DB2; /*Bleu*/
}

#backoffice a.deconnexion:link,#backoffice a.linkdec:visited
{
	background-color:#8B0000; /*Rouge*/
}

#index a:hover,#index a:active,
#backoffice a.menu:hover,#backoffice a.menu:active,
#deconnexion a:hover,#deconnexion a:active,
#PagesFrame a:hover,#PagesFrame a:active
{
	background-color:#3385FF; /*Bleu Clair*/
}

#backoffice a.deconnexion:hover,#backoffice a.deconnexion:active
{
	background-color:#AD0000; /*Rouge Clair*/
}

/*//////////////////////////////////
////			th				////
//////////////////////////////////*/

#licencesTable th.titre,
#customersTable th.titre,
#downloadsTable th.titre,
#operateurTable th.titre
{
	padding:2px;
	border:1px solid #3385FF; /*Bleu Clair*/
	background-color:#245DB2; /*Bleu*/
	color:#ffffff;	/*Blanc*/
}

/*//////////////////////////////////
////			td				////
//////////////////////////////////*/

#licencesTable td,
#customersTable td ,
#downloadsTable td ,
#operateurTable td
 {
	border:1px solid #3385FF; /*Bleu Clair*/
}

#PagesFrame td
{
	/*padding:2px;*/
	width:10%;
}

#index td,
#deconnexion td
{
	padding:5px;
}

/*//////////////////////////////////
////			table			////
//////////////////////////////////*/

#licencesTable,
#customersTable,
#downloadsTable,
#operateurTable
{
	border-collapse:collapse;
	
}

#backoffice table,
#PagesFrame table
{
	padding: 5px;
	width: 100%;
}

#backoffice table.menu
{
	background-color: #245DB2;
	border-collapse:collapse;
}

/*//////////////////////////////////
////			input			////
//////////////////////////////////*/

#index input.button,
#PagesFrame input.button
{
	display:block;
	color:#FFFFFF; /*Blanc*/
	background-color:#245DB2; /*Bleu*/
	font-weight:bold;
	width:100px;
	text-align:center;
	padding:10px;
	text-decoration:none;
	border:none;
}

#index input.button:hover,#index input.button:active,
#PagesFrame input.button:hover,#PagesFrame input.button:active,
#PagesFrame input.button_titre:hover,#PagesFrame input.button_titre:active
{
	background-color:#3385FF; /*Bleu Clair*/
}

#PagesFrame input.button_titre
{
	display:block;
	color:#FFFFFF; /*Blanc*/
	background-color:#245DB2; /*Bleu*/
	font-weight:bold;
	/*width:100px;*/
	text-align:center;
	padding:5px;
	text-decoration:none;
	border:none;
}

/*//////////////////////////////////
////			p				////
//////////////////////////////////*/

#PagesFrame p
{
	font-weight: bold;
	font-size: 20px;
	padding : 5px;
}

/*//////////////////////////////////
////			form			////
//////////////////////////////////*/

form.recherche
{
	margin:auto;
	background-color: #CCCCCC; /*Gris*/
	border:6px outset #AAAAAA; /*Noir*/
}

/*//////////////////////////////////
////			button			////
//////////////////////////////////*/

#PagesFrame button.button
{
	display:block;
	color:#FFFFFF; /*Blanc*/
	background-color:#245DB2; /*Bleu*/
	font-weight:bold;
	width:70px;
	text-align:center;
	padding:10px;
	text-decoration:none;
	border:none;
}

#PagesFrame button.button:hover,#PagesFrame button.button:active,
#PagesFrame button.button_titre:hover,#PagesFrame button.button_titre:active
{
	background-color:#3385FF; /*Bleu Clair*/
}