
/*//////////////////////////////////
////			a				////
//////////////////////////////////*/
a:link,a:visited
{
	display:block;
	font-weight:bold;
	color:#FFFFFF; /*Blanc*/
	width:120px;
	text-align:center;
	padding:2px;
	text-decoration:none;
}

#index a:link,#index a:visited,
#inscription a:link,#inscription a:visited,
#pages a:link,#pages a:visited,
#backoffice a.menu:link,#backoffice a.menu:visited,
#deconnexion a:link,#deconnexion a:visited
{
	background-color:#245DB2; /*Bleu*/
}

#backoffice a.deconnexion:link,#backoffice a.linkdec:visited
{
	background-color:#8B0000; /*Rouge*/
}

#index a:hover,#index a:active,
#inscription a:hover,#inscription a:active,
#pages a:hover,#pages a:active,
#backoffice a.menu:hover,#backoffice a.menu:active,
#deconnexion a:hover,#deconnexion a:active
{
	background-color:#3385FF; /*Bleu Clair*/
}

#backoffice a.deconnexion:hover,#backoffice a.deconnexion:active
{
	background-color:#AD0000; /*Rouge Clair*/
}




/*//////////////////////////////////
////			th				////
//////////////////////////////////*/

#licencesTable th.titre,
#customersTable th.titre,
#downloadsTable th.titre,
#productTable th.titre,
#operateurTable th.titre
{
	padding:2px;
	border:1px solid #3385FF; /*Bleu Clair*/
	background-color:#245DB2; /*Bleu*/
	color:#ffffff;	/*Blanc*/
}


/*//////////////////////////////////
////			td				////
//////////////////////////////////*/

#licencesTable td,
#customersTable td ,
#downloadsTable td ,
#productTable td,
#operateurTable td
 {
	border:1px solid #3385FF; /*Bleu Clair*/
}

#inscription td,
#backoffice td.deco,
#pages td
{
	padding:5px;
	width:10%;
}

#index td,
#deconnexion td
{
	padding:5px;
}



/*//////////////////////////////////
////			table			////
//////////////////////////////////*/

#licencesTable,
#customersTable,
#downloadsTable,
#productTable,
#operateurTable
{
	border-collapse:collapse;
	
}

#backoffice table
{
	padding: 5px;
	width: 100%;
}



#backoffice table.menu
{
	/*border:1px solid #3385FF; Bleu Clair*/
	background-color: #245DB2;
	border-collapse:collapse;
}




/*//////////////////////////////////
////			input			////
//////////////////////////////////*/

#index input.button,
#inscription input.button,
#pages input.button
{
	display:block;
	color:#FFFFFF; /*Blanc*/
	background-color:#245DB2; /*Bleu*/
	font-weight:bold;
	width:100px;
	text-align:center;
	padding:10px;
	text-decoration:none;
	border:none;
}

#index input.button:hover,#index input.button:active,
#inscription input.button:hover,#inscription input.button:active,
#pages input.button:hover,#pages input.button:active,
#pages input.button_titre:hover,#pages input.button_titre:active
{
	background-color:#3385FF; /*Bleu Clair*/
}


#pages input.button_titre
{
	display:block;
	color:#FFFFFF; /*Blanc*/
	background-color:#245DB2; /*Bleu*/
	font-weight:bold;
	width:100px;
	text-align:center;
	padding:5px;
	text-decoration:none;
	border:none;
}



/*//////////////////////////////////
////			p				////
//////////////////////////////////*/

#backoffice p
{
	font-weight: bold;
	font-size: 20px;
	padding : 5px;
}



/*//////////////////////////////////
////			form			////
//////////////////////////////////*/

form.recherche
{
	margin:auto;
	background-color: #CCCCCC; /*Gris*/
	border:6px outset #000000; /*Noir*/
}






/*//////////////////////////////////
////			button			////
//////////////////////////////////*/

#index button.button,
#inscription button.button,
#pages button.button
{
	display:block;
	color:#FFFFFF; /*Blanc*/
	background-color:#245DB2; /*Bleu*/
	font-weight:bold;
	width:70px;
	text-align:center;
	padding:10px;
	text-decoration:none;
	border:none;
}

#index button.button:hover,#index button.button:active,
#inscription button.button:hover,#inscription button.button:active,
#pages button.button:hover,#pages button.button:active,
#pages button.button_titre:hover,#pages button.button_titre:active
{
	background-color:#3385FF; /*Bleu Clair*/
}






