div.cadre
{
	border:10px outset #245DB2; /*Bleu*/
	min-width:400px;
}

div.erreur
{
	text-align:center;
}

div.text
{
	text-align:right;
	float:left;
	padding-top:6px;
	padding-bottom:6px;
	width: 40%;
}

div.info
{
	text-align:center;
	float:left;
	padding-top:6px;
	padding-bottom:6px;
	width: 20%;
	min-height:76px;
}

div.input
{
	float:left;
	width: 40%;
}

input.tf
{
	margin:4px;
}

p
{
	margin-top:-4px;
	margin-bottom:-4px;
	margin-right:10px;
}

div.button
{
	margin:auto;
	padding-top:1%;
	padding-bottom:1%;
	width: 100%;
	clear:both;
}

input.button
{
	display:block;
	margin:auto;
	color:#FFFFFF; /*Blanc*/
	background-color:#245DB2; /*Bleu*/
	font-weight:bold;
	text-align:center;
	padding:10px;
	border:none;
}

input.button:hover,input.button:active
{
	background-color:#3385FF; /*Bleu Clair*/
}