div.recherche
{
	margin:auto;
	width:90%;
	padding:1%;
	background-color:#CCCCCC; /*Gris*/
	border:6px outset #CCCCCC;/*Gris*/
	min-width:750px;
}

div.Bt_recherche
{
	clear:both;
	margin:auto;
	width:90%;
	padding:1%;
}

div.type
{
	clear:left;
	float:left;
	width:50%;
	padding-top:1%;
	padding-bottom:1%;
	text-align:center;
	margin:auto;
}

div.revoke
{
	float:left;
	width:50%;
	padding-top:1%;
	padding-bottom:1%;
	text-align:center;
	margin:auto;
}

div.tf1
{
	margin-top:1%;
	float:left;
	width: 16%;
}

div.tf2
{
	margin-top:1%;
	float:left;
	width: 16%;
}

div.tf3
{
	margin-top:1%;
	float:left;
	width: 22%;
}

div.text1
{
	margin-top:1%;
	text-align:right;
	float:left;
	padding-top:6px;
	padding-bottom:6px;
	padding-right:1%;
	width: 10%;
}

div.text2
{
	margin-top:1%;
	text-align:right;
	float:left;
	padding-top:6px;
	padding-bottom:6px;
	padding-right:1%;
	width: 16%;
}

div.text3
{
	margin-top:1%;
	text-align:right;
	float:left;
	padding-top:6px;
	padding-bottom:6px;
	padding-right:1%;
	width: 16%;
}

input.tf
{
	margin:2px;
}

#Table th.titre
{
	padding:2px;
	border:1px solid #3385FF; /*Bleu Clair*/
	background-color:#245DB2; /*Bleu*/
	color:#ffffff;	/*Blanc*/
}

#Table td.Case
 {
	border:1px solid #3385FF; /*Bleu Clair*/
}

td.Case
{
	width:10%;
}

td.CaseSuppr
{
	width:3%;
}

p
{
	font-weight: bold;
	font-size: 20px;
	padding : 5px;
}

table
{
	padding: 5px;
	width: 100%;
}

#Table
{
	border-collapse:collapse;
}

button.button
{
	margin:auto;
	display:block;
	color:#FFFFFF; /*Blanc*/
	background-color:#245DB2; /*Bleu*/
	font-weight:bold;
	width:70px;
	text-align:center;
	padding:10px;
	text-decoration:none;
	border:none;
}


input.button_titre
{
	display:block;
	color:#FFFFFF; /*Blanc*/
	background-color:#245DB2; /*Bleu*/
	font-weight:bold;
	text-align:center;
	padding:5px;
	text-decoration:none;
	border:none;
}

input.button
{
	margin:auto;
	display:block;
	color:#FFFFFF; /*Blanc*/
	background-color:#245DB2; /*Bleu*/
	font-weight:bold;
	width:100px;
	text-align:center;
	padding:10px;
	text-decoration:none;
	border:none;
}

button.button:hover,button.button:active
{
	background-color:#3385FF; /*Bleu Clair*/
}

input.button:hover,input.button:active,
input.button_titre:hover,input.button_titre:active
{
	background-color:#3385FF; /*Bleu Clair*/
}

button.ButRes
{
	margin:auto;
	display:block;
	color:#FFFFFF; /*Blanc*/
	background-color:#009900; /*Vert*/
	font-weight:bold;
	width:25px;
	text-align:center;
	padding:1px;
	text-decoration:none;
	border:none;
}

button.ButSuppr:hover,button.ButSuppr:active
{
	background-color:#AD0000; /*Rouge Clair*/
}

button.ButRes:hover,button.ButRes:active
{
	background-color:#33AD33; /*Vert Clair*/
}


button.ButSuppr
{
	margin:auto;
	display:block;
	color:#FFFFFF; /*Blanc*/
	background-color:#8B0000; /*Rouge*/
	font-weight:bold;
	width:25px;
	text-align:center;
	padding:1px;
	text-decoration:none;
	border:none;
}

