div.recherche
{
	margin:auto;
	width:90%;
	padding:1%;
	background-color:#CCCCCC; /*Gris*/
	border:6px outset #CCCCCC;/*Gris*/
	min-width:900px;
}

div.type
{
	clear:left;
	float:left;
	width:30%;
	padding-top:25px;
	padding-bottom:25px;
	text-align:center;
}

div.logiciel
{
	float:left;
	width:40%;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
}

div.etat
{
	float:left;
	width:30%;
	padding-top:25px;
	padding-bottom:25px;
	text-align:center;
}

div.tf1
{
	float:left;
	width: 22%;
}

div.tf2
{
	float:left;
	width: 28%;
}

div.tf3
{
	float:left;
	width: 10%;
	padding-top:22px;
	padding-bottom:22px;
}

div.tf4
{
	float:left;
	width: 13%;
	padding-top:22px;
	padding-bottom:22px;
}

div.tf5
{
	float:left;
	width: 28%;
	padding-top:22px;
	padding-bottom:22px;
}

div.tf6
{
	float:left;
	width: 22%;
	padding-top:10px;
	padding-bottom:10px;
}

div.tf7
{
	float:left;
	width: 28%;
	padding-top:10px;
	padding-bottom:10px;
}

div.text1
{
	text-align:right;
	float:left;
	padding-top:22px;
	padding-bottom:22px;
	padding-right:1%;
	width: 21%;
}

div.text2
{
	text-align:right;
	float:left;
	padding-top:22px;
	padding-bottom:22px;
	padding-right:1%;
	width: 27%;
}

div.text3
{
	text-align:right;
	clear:left;
	float:left;
	padding-top:22px;
	padding-bottom:22px;
	padding-right:1%;
	width: 21%;
}

div.text4
{
	text-align:right;
	float:left;
	padding-top:22px;
	padding-bottom:22px;
	padding-right:1%;
	width: 12%;
}

div.text5
{
	text-align:right;
	float:left;
	padding-top:22px;
	padding-bottom:22px;
	padding-right:1%;
	width: 13%;
}

div.text6
{
	text-align:right;
	clear:left;
	float:left;
	padding-top:22px;
	padding-bottom:22px;
	padding-right:1%;
	width: 21%;
}

div.text7
{
	text-align:right;
	float:left;
	padding-top:22px;
	padding-bottom:22px;
	padding-right:1%;
	width: 27%;
}

input.tf
{
	margin:2px;
}

#Table th.titre
{
	padding:2px;
	border:1px solid #3385FF; /*Bleu Clair*/
	background-color:#245DB2; /*Bleu*/
	color:#ffffff;	/*Blanc*/
}

#Table td 
 {
	border:1px solid #3385FF; /*Bleu Clair*/
}

td
{
	width:10%;
}

p
{
	font-weight: bold;
	font-size: 20px;
	padding : 5px;
}

table
{
	padding: 5px;
	width: 100%;
}

#Table
{
	border-collapse:collapse;
}

button.button
{
	margin:auto;
	display:block;
	color:#FFFFFF; /*Blanc*/
	background-color:#245DB2; /*Bleu*/
	font-weight:bold;
	width:70px;
	text-align:center;
	padding:10px;
	text-decoration:none;
	border:none;
}


input.button_titre
{
	display:block;
	color:#FFFFFF; /*Blanc*/
	background-color:#245DB2; /*Bleu*/
	font-weight:bold;
	text-align:center;
	padding:5px;
	text-decoration:none;
	border:none;
}

input.button
{
	margin:auto;
	display:block;
	clear:both;
	color:#FFFFFF; /*Blanc*/
	background-color:#245DB2; /*Bleu*/
	font-weight:bold;
	width:100px;
	text-align:center;
	padding:10px;
	text-decoration:none;
	border:none;
}

button.button:hover,button.button:active
{
	background-color:#3385FF; /*Bleu Clair*/
}

input.button:hover,input.button:active,
input.button_titre:hover,input.button_titre:active
{
	background-color:#3385FF; /*Bleu Clair*/
}

a:link,a:visited
{
	display:block;
	font-weight:bold;
	color:#FFFFFF; /*Blanc*/
	background-color:#245DB2; /*Bleu*/
	text-align:center;
	padding:2px;
	text-decoration:none;
}

a:hover,a:active
{
	background-color:#3385FF; /*Bleu Clair*/
}
